{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                                <div class="panel-body">
    <form class="inline-form" action="{% url 'morsecode:encode' %}" method="post">
                        {% csrf_token %}
                         <input type="text" class="form-control
                            clear-focus-highlight" id="txtNewNote"
                                        name="txtNewMsg"
                        placeholder="Enter Message">
                                        <input class="btn btn-raised
                                        btn-primary btn-sm" type="submit"
                                        value="Show">
    </form>
     </div>
             </div>
                 </div>
</div>
{% endblock content %}

